<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- place your own content on the meta below -->
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <!-- Navigation (Stays on Top) -->
    <div class="w3-top w3-bar w3-black">
        <a href="/" class="w3-bar-item w3-button">Input</a>
        <a href="/draw" class="w3-bar-item w3-button">Draw</a>
    </div>

    <!-- Start Content -->
    <div id="home" class="w3-container w3-content w3-padding-64">
        <h2>Square with Side {{sideLength}} </h2>
        <canvas class=" w3-white" id="mycanvas" width="100" height="100"> 
          <!-- do not remove, this defines the drawing area/canvas with size of 100 by 100 -->
        </canvas>
    </div>
    <footer class="w3-padding-large"> &copy; 2024 Sir Roy</footer>

    <script>

        function drawSquare() {

            // sample use of handlbars 
            const s = {{sideLength}};

            let canvas = document.getElementById("mycanvas");
            canvas.width = (s + 50);
            canvas.height = (s + 50);
            console.log(s)

            var ctx = canvas.getContext("2d");
            const o = 20; //offset to have space surroundig the square
            // moving to the starting point
            ctx.moveTo(o, o);
            ctx.lineTo(o, o + s);
            ctx.lineTo(o + s, o + s)
            ctx.lineTo(o + s, o);
            ctx.lineTo(o, o);

            // for placing text
            ctx.fillText(s, o + (s / 2), o + s)
            ctx.fillText(s, o + 0, o + s / 2) 
            
            // to actually display the triangle
            ctx.stroke();
        }

        drawSquare(); // call the call function
    </script>


</body>

</html>
